#viewport
{
    min-height: 100%;
}

#advanced-search-banner {
    background: #f1f1f1;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: 100%

}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    position: relative;
}

.app-border
{
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.bottom-wrapper
{
    min-height: 100%;
    margin: 0 auto -60px;
}

.button-area {
    padding-top: 18px;
    top: 53px;
    /*z-index: 0;*/
}

.button-features {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 27px;
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
}

.container {
    min-width: 400px;
    margin: 0 auto;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
}

div, #viewport {
    position: absolute;
    top: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container
{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
    position: relative;
}

.span-container
{
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.nav-bar-links {
    float: right;
    font-size: 15px;
    position: relative;
    /*border: 3px solid green;*/
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.searchbar
{
    border: 3px solid blue;
    border-radius: 24px;
    display: flex;
    margin: 0 auto;
    height: 44px;
    max-width: 584px;
    width: 50%;
    z-index: 3;
}

.text-field {
    background-color: transparent;
    border: 1PX SOLID BLACK;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    max-width: 450px;
    margin: 4px auto;
    height: 34px;
    font-size: 16px;
}

.search-container
{
    position: relative;
    margin: 0 auto;
    min-width: 400px;
    text-align: center;
    top: 311px;
}

